@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wetter-Tools</title>
    <link rel="stylesheet" href="/css/site.css" />
    <style>
        body { 
            font-family: Helvetica; 
            margin: 0; 
        }

        header {
            background: #467555;
            color: white;
            padding: 12px 16px;
        }

        .header-link {
            color: white;
            text-decoration: none;
            display: block;
            cursor: pointer;
        }

            .header-link:hover {
                opacity: 0.9;
            }
        .tabs { 
            padding: 12px 16px;
            background: #f5f5f5; 
            border-bottom: 1px solid #ddd;
            text-align: center;
            align-content: center;
			font-size: 1.1em;
        }

        .tab {
            padding: 6px 10px;
            text-decoration: none;
            color: #467555;
			text-align: center;
			align-content: center;
        }

            .tab:hover {
                background: #aff1c1 transparent;
                color: #223829;
            }

            .tab.active {
                background: #467555;
            }
        main { 
            padding: 16px; 
        }
        .form-row { 
            display: grid; 
            grid-template-columns: 180px 1fr; 
            gap: 8px; 
            align-items: center; 
            margin-bottom: 10px; 
            text-align: center;
        }
        .result { 
            background: #f5faff; 
            border: 1px solid #c6dafc; 
            padding: 12px; 
            border-radius: 6px; 
        }
    </style>
</head>
<body>
    <header>
        <a class="header-link" asp-controller="Home" asp-action="Index">
            <h2 style="margin:0; text-align:center"> ⛅ Wetter-Tools ⛅ </h2>
        </a>
    </header>
    <div class="tabs">
        <a class="tab" asp-controller="Weather" asp-action="Taupunkt">Taupunkt 🌡️</a>
        <a class="tab" asp-controller="Weather" asp-action="Hitzeindex">Hitzeindex 🔥</a>
        <a class="tab" asp-controller="Weather" asp-action="Wolkenhöhe">Wolkenhöhe ☁️</a>
        <a class="tab" asp-controller="Weather" asp-action="WindChill">WindChill 🌀</a>
    </div>
    <main>
        @RenderBody()
    </main>
</body>
</html>
